# ü§ì recomendations

### Encontrar recomendaciones en funci√≥n de usuarios similares a nosotros ‚úåüèº

In [119]:
#esta lista viene de search


liked_books = ['883438','88077','16097870','2391','54008','17899021']
#liked_books = ["4408", "31147619", "29983711", "9401317", "9317691", "8153988", "20494944"]

In [92]:
#buscamos todos los usuarios a los que les ha gustado los libros

In [93]:
!head book_id_map.csv    #abrimos en streaming

book_id_csv,book_id
0,34684622
1,34536488
2,34017076
3,71730
4,30422361
5,33503613
6,33517540
7,34467031
8,6383669

In [127]:
    
csv_book_mapping = {}   #esta es la misma forma de hacerlon que antes en search

with open("book_id_map.csv", "r") as f:
    while True:
        line = f.readline()
        if not line:
            break
        csv_id, book_id = line.strip().split(",")  #va a hacer el split en la coma
        csv_book_mapping[csv_id] = book_id    #este dictionario las keys ser√°n csv_id y los valores seran los valores se

In [128]:
csv_book_mapping['0']

'34684622'

In [129]:
len(csv_book_mapping)   #trocotro

2360651

In [96]:
!wc -l goodreads_interactions.csv     #tama√±o

 228648343 goodreads_interactions.csv

In [97]:
 !ls -lh | grep goodreads_interactions   #peso

-rw-r--r--@ 1 lucia  staff   4,0G 27 jul 21:17 goodreads_interactions.csv

In [98]:
#Se podr√≠a leer as√≠ pero PESA MUCHO

In [99]:
!head goodreads_interactions.csv  #Es el archivo que dice C√≥mo ha votado cada usuario
#cada usuario con cada voto para 1 libro tiene una fila

#si la puntuaci√≥n es alta aqu√≠ significa que  coincide con nosotrxs

#Si vamos l√≠nea a l√≠nea lo que vemos es que chequeamos el libro y vemos si est√° en nuesta lista de libros y si est√°:
#significa que tal vez tenga un gusto parecido al nuestro y les a√±adimis a nuestro set gustos parecidos

user_id,book_id,is_read,rating,is_reviewed
0,948,1,5,0
0,947,1,5,1
0,946,1,5,0
0,945,1,5,0
0,944,1,5,0
0,943,1,5,0
0,942,1,5,0
0,941,1,5,0
0,940,1,5,0

In [131]:
'''

overlap_users = set()
with open('goodreads_interactions.csv', 'r') as f:
    while True: 
        line = f.readline()
        if not line:
            break
        user_id, csv_id, _, rating, _ = line.split(",")   # el underscore significa que no importan los campos
        
        if user_id in overlap_users:   #si se solapan no necesita seguir procesando 
            continue
            
        try:   #parsear nuesto rating, como int
            rating = int(rating)
        except ValueError:
            print('cuidaito, no encontrado')
            continue 
            
#convertir el csv id en un book_id porque el book ib es lo que hemos usado para los libros que nos han gustado
            
            book_id = csv_book_mapping[csv_id]   
            
            if book_id in liked_books and rating >=4: #si el libro mayor que 4, le gusta y lo a√±ade a overlap
                overlap_users.add(user_id)
                
#el problema est√° aqu√≠
'''

cuidaito, no encontrado

In [132]:
#redone

overlap_users = set()

with open("goodreads_interactions.csv", 'r') as f:
    while True:
        line = f.readline()
        if not line:
            break
        user_id, csv_id, _, rating, _ = line.split(",")
        
        if user_id in overlap_users:
            continue

        try:
            rating = int(rating)
        except ValueError:
            print('cuidaito, no encontrado')
            continue
        
        book_id = csv_book_mapping[csv_id]
        
        if book_id in liked_books and rating >= 4:
                overlap_users.add(user_id)

### Ver qu√© libros les han gustado a esos usuarios que se parecen a nosotros

In [101]:
#Se van a crear dos loops porque si no se hace as√≠ se pueden perder valores

In [102]:
#encontrar qu√© libros han le√≠do
# Vamos iterar por el dataset de goodreads, as√≠ que se puede copiar y pegar de la funci√≥n anterior


rec_lines = []  #libros que usuarios parecidos a nosotoros han le√≠do


with open('goodreads_interactions.csv', 'r') as f:
    while True: 
        line = f.readline()
        if not line:
            break    #copiado de arriba√ß
        user_id, csv_id, _, rating, _ = line.split(",")
        
        if user_id in overlap_users:
            book_id = csv_book_mapping[csv_id]     #parseamos
            rec_lines.append([user_id, book_id, rating])  #lo a√±adimos las los libros libros que usuarios parecidos a nosotros han le√≠do tambi√©n = rec_lines

In [103]:
#rank the recommenadtions

In [133]:
len(overlap_users)  #vac√≠o pq?

2130

In [134]:
len(rec_lines)

1481120

In [106]:
import pandas as pd

In [135]:
#cuidado, est√° vac√≠o!!!!

recs = pd.DataFrame(rec_lines, columns=['user_id', 'book_id', 'rating'])  #es m√°s f√°cil trabajar con un df
recs['book_id'] =recs['book_id'].astype(str)    #Esto va a hacer nuestro rec_lines en un df

In [138]:
recs.head()

  user_id  book_id rating
0      77  1199161      3
1      77    18749      4
2      77   101094      5
3      77    16902      3
4      77  7575487      0

In [155]:
top_recs = recs['book_id'].value_counts()      #de qu√© valor hay m√°s, m√°s frecuentres
top_recs.head()

88077    1694
4671     1364
5470     1361
5107     1273
7613     1207
Name: book_id, dtype: int64

In [178]:
top_recs = top_recs.index.values   #a√±adido despu√©s de empezar a const el rec inicial. Da los valores del √≠ndice

AttributeError: 'numpy.ndarray' object has no attribute 'index'

In [179]:
books_titles = pd.read_json("boks_titles.json")
books_titles["book_id"] = books_titles["book_id"].astype(str)   #todo tiene el mismo tipo

In [181]:
len(overlap_users)

2130

In [175]:
books_titles.head()   #yess

,book_id,title,ratings,url,cover_image,mod_title
0,1333909,Good Harbor,10,https://www.goodreads.com/book/show/1333909.Go...,https://s.gr-assets.com/assets/nophoto/book/11...,good harbor
1,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",140,https://www.goodreads.com/book/show/7327624-th...,https://images.gr-assets.com/books/1304100136m...,the unschooled wizard sun wolf and starhawk 12
2,6066819,Best Friends Forever,51184,https://www.goodreads.com/book/show/6066819-be...,https://s.gr-assets.com/assets/nophoto/book/11...,best friends forever
3,287140,Runic Astrology: Starcraft and Timekeeping in ...,15,https://www.goodreads.com/book/show/287140.Run...,https://images.gr-assets.com/books/1413219371m...,runic astrology starcraft and timekeeping in t...
4,287141,The Aeneid for Boys and Girls,46,https://www.goodreads.com/book/show/287141.The...,https://s.gr-assets.com/assets/nophoto/book/11...,the aeneid for boys and girls

## Construir un rec inicial

In [174]:
#encuentra todos los t√≠tulos que est√©n en las recomedaciones top

books_titles[books_titles["book_id"].isin(top_recs)]   #cuidado, VAC√çO

,book_id,title,ratings,url,cover_image,mod_title
2,6066819,Best Friends Forever,51184,https://www.goodreads.com/book/show/6066819-be...,https://s.gr-assets.com/assets/nophoto/book/11...,best friends forever
7,287149,The Devil's Notebook,986,https://www.goodreads.com/book/show/287149.The...,https://images.gr-assets.com/books/1328768789m...,the devils notebook
8,6066814,"Crowner Royal (Crowner John Mystery, #13)",186,https://www.goodreads.com/book/show/6066814-cr...,https://images.gr-assets.com/books/1328724803m...,crowner royal crowner john mystery 13
13,89375,90 Minutes in Heaven: A True Story of Death an...,68157,https://www.goodreads.com/book/show/89375.90_M...,https://s.gr-assets.com/assets/nophoto/book/11...,90 minutes in heaven a true story of death and...
14,89376,Heaven,7345,https://www.goodreads.com/book/show/89376.Heaven,https://images.gr-assets.com/books/1406508230m...,heaven
...,...,...,...,...,...,...
1782548,7195902,The Short Happy Life of Francis Macomber,290,https://www.goodreads.com/book/show/7195902-th...,https://images.gr-assets.com/books/1329637203m...,the short happy life of francis macomber
1782550,2527820,"Gosick: The Novel (Gosick, #1)",557,https://www.goodreads.com/book/show/2527820.Go...,https://images.gr-assets.com/books/1346856168m...,gosick the novel gosick 1
1782560,26591045,The Sensible Necktie and Other Stories of Sher...,16,https://www.goodreads.com/book/show/26591045-t...,https://images.gr-assets.com/books/1444637176m...,the sensible necktie and other stories of sher...
1782561,25727303,Mrs. Hudson in New York,6,https://www.goodreads.com/book/show/25727303-m...,https://images.gr-assets.com/books/1434310664m...,mrs hudson in new york
1782575,26168430,Sherlock Holmes and the July Crisis,6,https://www.goodreads.com/book/show/26168430-s...,https://images.gr-assets.com/books/1440592011m...,sherlock holmes and the july crisis

In [161]:


all_recs = recs["book_id"].value_counts()
all_recs.head()

88077    1694
4671     1364
5470     1361
5107     1273
7613     1207
Name: book_id, dtype: int64

In [162]:
all_recs = all_recs.to_frame().reset_index()   
all_recs.columns = ["book_id", "book_count"]   #renombrar porque book id estaba mal

In [163]:
all_recs.head(5)

  book_id  book_count
0   88077        1694
1    4671        1364
2    5470        1361
3    5107        1273
4    7613        1207

In [173]:
all_recs = all_recs.merge(books_titles, how="inner", on="book_id")   #el inner merge significa que si los datos no existen en los dos, que se borren

In [172]:
all_recs["score"] = all_recs["book_count"] * (all_recs["book_count"] / all_recs["ratings"])

In [166]:
all_recs.sort_values("score", ascending=False).head(10)

,book_id,book_count,title,ratings,url,cover_image,mod_title,score
0,88077,1694,The Magic Mountain,21536,https://www.goodreads.com/book/show/88077.The_...,https://images.gr-assets.com/books/1403170928m...,the magic mountain,133.248328
213,527756,345,The Man Without Qualities,3738,https://www.goodreads.com/book/show/527756.The...,https://images.gr-assets.com/books/1327330533m...,the man without qualities,31.841894
391,883438,240,East of Eden,2336,https://www.goodreads.com/book/show/883438.Eas...,https://images.gr-assets.com/books/1503315060m...,east of eden,24.657534
804,238367,145,The Sleepwalkers,890,https://www.goodreads.com/book/show/238367.The...,https://s.gr-assets.com/assets/nophoto/book/11...,the sleepwalkers,23.623596
172,34440,386,Doctor Faustus,6621,https://www.goodreads.com/book/show/34440.Doct...,https://images.gr-assets.com/books/1403189005m...,doctor faustus,22.503549
994,54008,123,Rayuela,806,https://www.goodreads.com/book/show/54008.Rayuela,https://images.gr-assets.com/books/1329416331m...,rayuela,18.770471
105,80890,482,Buddenbrooks: The Decline of a Family,12428,https://www.goodreads.com/book/show/80890.Budd...,https://images.gr-assets.com/books/1337128414m...,buddenbrooks the decline of a family,18.693595
1347,27426,98,The Death of Virgil,658,https://www.goodreads.com/book/show/27426.The_...,https://s.gr-assets.com/assets/nophoto/book/11...,the death of virgil,14.595745
1022,88076,120,Joseph and His Brothers,1111,https://www.goodreads.com/book/show/88076.Jose...,https://images.gr-assets.com/books/1320550455m...,joseph and his brothers,12.961296
8994,9624993,21,"The Mirror and the Light (Thomas Cromwell, #3)",40,https://www.goodreads.com/book/show/9624993-th...,https://s.gr-assets.com/assets/nophoto/book/11...,the mirror and the light thomas cromwell 3,11.025000

In [168]:
all_recs[all_recs["book_count"] > 200].sort_values("score", ascending=False).head(10)

,book_id,book_count,title,ratings,url,cover_image,mod_title,score
0,88077,1694,The Magic Mountain,21536,https://www.goodreads.com/book/show/88077.The_...,https://images.gr-assets.com/books/1403170928m...,the magic mountain,133.248328
213,527756,345,The Man Without Qualities,3738,https://www.goodreads.com/book/show/527756.The...,https://images.gr-assets.com/books/1327330533m...,the man without qualities,31.841894
391,883438,240,East of Eden,2336,https://www.goodreads.com/book/show/883438.Eas...,https://images.gr-assets.com/books/1503315060m...,east of eden,24.657534
172,34440,386,Doctor Faustus,6621,https://www.goodreads.com/book/show/34440.Doct...,https://images.gr-assets.com/books/1403189005m...,doctor faustus,22.503549
105,80890,482,Buddenbrooks: The Decline of a Family,12428,https://www.goodreads.com/book/show/80890.Budd...,https://images.gr-assets.com/books/1337128414m...,buddenbrooks the decline of a family,18.693595
374,18796,247,In Search of Lost Time (√Ä la recherche du tem...,6670,https://www.goodreads.com/book/show/18796.In_S...,https://images.gr-assets.com/books/1352231701m...,in search of lost time la recherche du temps...,9.146777
112,12749,470,"Swann's Way (In Search of Lost Time, #1)",25329,https://www.goodreads.com/book/show/12749.Swan...,https://images.gr-assets.com/books/1452956236m...,swanns way in search of lost time 1,8.721229
258,53064,313,Death in Venice and Other Tales,12215,https://www.goodreads.com/book/show/53064.Deat...,https://images.gr-assets.com/books/1309376701m...,death in venice and other tales,8.020385
182,53061,375,Death in Venice,17958,https://www.goodreads.com/book/show/53061.Deat...,https://images.gr-assets.com/books/1410132000m...,death in venice,7.830772
144,35743,414,The Tin Drum,25915,https://www.goodreads.com/book/show/35743.The_...,https://images.gr-assets.com/books/1327945103m...,the tin drum,6.613776

In [169]:
popular_recs = all_recs[all_recs["book_count"] > 200].sort_values("score", ascending=False)  #esto ordena top 10

In [182]:
#esta funci√≥n hace clockable y eso. usadas antes tamb√≠en
#Y s√≠, las recomendaciones corresponden üôÉ

def make_clickable(val):
    return '<a target="_blank" href="{}">Goodreads</a>'.format(val, val)

def show_image(val):
    return '<a href="{}"><img src="{}" width=50></img></a>'.format(val, val)

#Usar  las formulas para que se muestre en plan bonito
#filtra donde el boook id est√©, para que no muestre libros que ya hemos le√≠do y le damos formato

popular_recs[~popular_recs["book_id"].isin(liked_books)].head(10).style.format({'url': make_clickable, 'cover_image': show_image})

In [ ]:
# pr√≥ximos pasos
#Se puede hacer filtro colaborativo

6

# Filtro colaborativo

In [479]:
# book_id_map.csv une book id csd y book id.

In [480]:
import numpy as np

In [481]:
from scipy.sparse import coo_matrix

In [482]:
from sklearn.metrics.pairwise import cosine_similarity

In [483]:
#pd.read_csv('../data/Wholesale customers data.csv')
my_books = pd.read_csv("liked_books.csv")

In [484]:
my_books

,Unnamed: 0,user_id,book_id,rating,title
0,0,-1,2517439,5,"The Forever War (The Forever War, #1)"
1,1,-1,113576,5,The Smartest Guys in the Room: The Amazing Ris...
2,2,-1,35100,5,Battle Cry of Freedom
3,3,-1,228221,5,The Mask of Command
4,5,-1,17662739,5,"2001: A Space Odyssey (Space Odyssey, #1)"
5,6,-1,356824,5,India After Gandhi: The History of the World's...
6,7,-1,12125412,5,The Lady or the Tiger?: and Other Logic Puzzles
7,8,-1,139069,5,Endurance: Shackleton's Incredible Voyage
8,10,-1,76680,5,"Foundation (Foundation, #1)"
9,11,-1,1898,5,Into Thin Air: A Personal Account of the Mount...
10,12,-1,5096865,5,In Cold Blood
11,13,-1,228665,5,"The Eye of the World (The Wheel of Time, #1)"
12,17,-1,437143,5,A Short History of Nearly Everything
13,18,-1,18949861,5,Contact
14,19,-1,2913377,5,The Name of the Wind (The Kingkiller Chronicl...
15,20,-1,1215032,5,The Wise Man's Fear (The Kingkiller Chronicle...
16,21,-1,883438,5,East of Eden
17,22,-1,5578108,5,From Colony to Superpower: U.S. Foreign Relati...
18,23,-1,128029,5,A Thousand Splendid Suns
19,24,-1,77203,5,The Kite Runner
20,25,-1,5439,5,Interpreter of Maladies
21,26,-1,1685995,5,Dune (Dune #1)
22,27,-1,6448772,5,"Quantum: Einstein, Bohr, and the Great Debate ..."
23,527,-1,8161140,1,On the Beach
24,528,-1,28187,1,The Lightning Thief (Percy Jackson and the Ol...
25,531,-1,25659450,1,Arkwright
26,532,-1,82599,1,Rabbits: A Novel

In [485]:
my_books['book_id'] = my_books['book_id'].astype(str)   #Tiene que ser una string porque as√≠ es coko lo unimos book_id en otros files

In [486]:
#Encontrando usuarios similares

csv_book_mapping = {}   #mapeo ids del json y el csv 

with open("book_id_map.csv", "r") as f:
    while True:
        line = f.readline()   #es muy largo, lo lee l√≠nea a l√≠nea y despu√©s terminal el loop. Lo de arriba, vaya
        if not line:
            break
        csv_id, book_id = line.strip().split(",")
        csv_book_mapping[csv_id] = book_id   #dictio
#mapeo

In [487]:

book_set = set(my_books['book_id']) #un set es m√°s o menos como una lista pero cada elemento es √∫nico

In [488]:
!head goodreads_interactions.csv

user_id,book_id,is_read,rating,is_reviewed
0,948,1,5,0
0,947,1,5,1
0,946,1,5,0
0,945,1,5,0
0,944,1,5,0
0,943,1,5,0
0,942,1,5,0
0,941,1,5,0
0,940,1,5,0

In [489]:
#tarda SIGLOS en correr

overlap_users = {}   #DICTIO usuarios que han le√≠do el mismo libro que nosotros

with open("goodreads_interactions.csv", 'r') as f:
    while True:
        line = f.readline()
        if not line:
            break
        user_id, csv_id, _, rating, _ = line.split(",")   #lo mismo de antes. arriba
        
        book_id = csv_book_mapping.get(csv_id)   #csv_id pero con el book_id
        
        if book_id in book_set:    #si es uno de los libros que hemos le√≠do (en liked_books) entonces a√±adimos al usuario en los superpuestos, overlap
            if user_id not in overlap_users:
                overlap_users[user_id] = 1
            else:
                overlap_users[user_id] += 1
                
                
#overlap_users va a ser un dictio. Las keys son los user ids y values son 
#value el n√∫mero de veces que ese usuario ha le√≠do un libro que tenemos en nuestra lista

In [490]:
len(overlap_users)

316341

In [491]:
#Ahora vamos a buscar los usuarios que hayan le√≠do alguno de los libros que hemos le√≠do

In [492]:
filtered_overlap_users = set([k for k in overlap_users if overlap_users[k] > my_books.shape[0]/5])  #rebajar el n√∫mero

In [493]:
#buscar ratings similares

In [494]:
#construir nuestras recomendaciones


interactions_list=[]     #user_id, book_id y rating. volvemos a hacer el loop por filas con el c√≥digo de arriba

with open("goodreads_interactions.csv", 'r') as f:
    while True:
        line = f.readline()
        if not line:
            break

        user_id, csv_id, _, rating, _ = line.split(",")   #lo mismo de antes. arriba
        
        if user_id in filtered_overlap_users:   #si el usuario est√° en la lista de users que se sobrepon√≠an lo a√±adimos a la sista
            book_id = csv_book_mapping[csv_id]
            interactions_list.append([user_id, book_id, rating])

In [495]:
len(interactions_list) #ha bajadooooo

5638701

### Matriz usuario - libro

Cada fila de la matriz va a ser un usuario y cada columna un libro. Las celdas contienn el rating que cada usuario le ha dado al libro, si hay muchos se hace inmensa y por eso lo hemos rebajado antes

In [496]:
#primer item 

interactions_list[0]

['282', '627206', '4']

In [497]:
#lo pasamos a df y le damos columnas

interactions = pd.DataFrame(interactions_list, columns=["user_id", "book_id", "rating"])

In [498]:
#Valoraciones propias. Lo concatenamos con las interacciones
#cuando creemos la matriz va a ser una fila en la matriz

interactions = pd.concat([my_books[["user_id", "book_id", "rating"]], interactions])

In [499]:
# nosotoros somos el user -1


interactions.head()

  user_id   book_id rating
0      -1   2517439      5
1      -1    113576      5
2      -1     35100      5
3      -1    228221      5
4      -1  17662739      5

In [500]:
#le damos forma de strings porque as√≠ est√° tambi√©n en el archivo json


interactions["book_id"] = interactions["book_id"].astype(str)
interactions["user_id"] = interactions["user_id"].astype(str)
interactions["rating"] = pd.to_numeric(interactions["rating"])  #tiene que ser num√©rico

In [501]:
interactions['user_id'].unique()    #esto da algo raro creo

array(['-1', '282', '874', ..., '442043', '712588', '804100'],
      dtype=object)

In [502]:
interactions["user_index"] = interactions["user_id"].astype("category").cat.codes   #unica categor√≠a. 
#se puede asignar a una categor√≠a en ua matriz

In [503]:
interactions['user_index'].unique()  #‚ùóÔ∏è

array([   0,  555, 1216, ..., 1054, 1143, 1183], dtype=int16)

In [504]:
#lo mismo con el book id

interactions["book_index"] = interactions["book_id"].astype("category").cat.codes

ESTRUCTURA DE LA MATRIZ: id a posici√≥n
Sparse matriz, se llama en espa√±ol una matriz DISPERSA
Vemos cu√°ntos libros √∫nicos y usuarios tenemos (en interactions). Con estos, hay menos usuarios que librs (claro
Pero si se multiplica se ve que el tama√±o de la matriz es gigante, en lugar de esto se construye una matriz dispersa. Si no hay valor en una celda determinada lo deja en blanco. NO USA MEMORIA

In [505]:
#crear matriz.
#coo matrix = A sparse matrix in COOrdinate format

In [506]:
#se le pasa un arry o lista de los datos que queremos (ratings) luego las posiciones de las filas (index) 
#y luego las columnas

ratings_mat_coo = coo_matrix((interactions["rating"], (interactions["user_index"], interactions["book_index"])))

In [507]:
ratings_mat_coo

<1259x802870 sparse matrix of type '<class 'numpy.int64'>'
	with 5638728 stored elements in COOrdinate format>

In [508]:
ratings_mat_coo.shape

(1259, 802870)

In [509]:
ratings_mat = ratings_mat_coo.tocsr()   #lo vamos a converit a una matriz csr (Compressed Sparse Row matrix)

## encontrar a los usuarios parecidos a nosotros

In [510]:
len(interactions[interactions["user_id"] == "-1"])   #nuestro usuario

27

In [511]:
my_index = 0

In [512]:
#cada columnna es un libro cada fila es un usuario
#cuantas m√°s valoraciones tenga un usuario m√°s parecido ser√° a nosotros

#coge mis preferencias de libros y los une con 

similarity = cosine_similarity(ratings_mat[my_index,:], ratings_mat).flatten()

In [513]:
similarity

array([1.        , 0.04579826, 0.06143443, ..., 0.        , 0.00393254,
       0.02317069])

In [514]:
similarity[2]   #la matriz tiene tama√±o 3. Solo hay 3 usuarios como nosottros!

0.06143442518998915

In [515]:
indices = np.argpartition(similarity, -3)[-3:]
indices

array([ 862, 1143,    0])

In [516]:
#encontrar sus user id

In [517]:
#encuentra todas las interacciones donde el indice de usuario est√© en nuestro √≠ndice
#copy para que no de error

similar_users =interactions[interactions["user_index"].isin(indices)].copy()

In [518]:
similar_users = similar_users[similar_users["user_id"]!="-1"]

In [519]:
similar_users   #se ven las filas de libros que potencialmente nos gustar√≠an

        user_id   book_id  rating  user_index  book_index
4888563  390255      7604       0         862      719547
4888564  390255      5907       0         862      645289
4888565  390255         3       0         862      511149
4888566  390255   2767052       0         862      472031
4888567  390255     41865       0         862      602955
...         ...       ...     ...         ...         ...
5638521  712588  32388712       3        1143      543119
5638522  712588     16322       5        1143      183365
5638523  712588    860543       0        1143      759827
5638524  712588    853510       5        1143      756768
5638525  712588     13890       4        1143      124251

[510 rows x 5 columns]

In [520]:
#estos son los usuarios m√°s parecidos a nosotros

## Recomendacio¬¥n de libros!

In [740]:
#‚ùáÔ∏è‚ùáÔ∏è‚ùáÔ∏è


book_recs = similar_users.groupby("book_id").rating.agg(['count', 'mean'])

In [741]:
book_recs.head()   #esto es un libro en espec√≠fico que nos recomiendan

          count  mean
book_id
1             2   4.0
10000         1   0.0
10000053      1   0.0
10000191      1   0.0
1000025       1   0.0

In [742]:
book_recs.shape

(41174, 2)

In [743]:
books_titles = pd.read_json("boks_titles.json")    #cuidado con el nombre mal escrito
books_titles["book_id"] = books_titles["book_id"].astype(str)  #asegurarnos de que es una string

In [744]:
#mergeamos los dos datasts para poner los t√≠tulos en las recomendacions

book_recs = book_recs.merge(books_titles, how="inner", on="book_id")


#es el mismo merge que antes y que en sql si no est√° ese campo en las dos tablas no lo une

In [745]:
book_recs.head()   #vamos!

,book_id,count,mean,title,ratings,url,cover_image,mod_title
0,1,2,4.0,Harry Potter and the Half-Blood Prince (Harry ...,1713866,https://www.goodreads.com/book/show/1.Harry_Po...,https://images.gr-assets.com/books/1361039191m...,harry potter and the halfblood prince harry po...
1,10000,1,0.0,The Face of Another,2079,https://www.goodreads.com/book/show/10000.The_...,https://images.gr-assets.com/books/1320415026m...,the face of another
2,10000191,1,0.0,Yellow Crocus,17787,https://www.goodreads.com/book/show/10000191-y...,https://s.gr-assets.com/assets/nophoto/book/11...,yellow crocus
3,1000025,1,0.0,The Desire and Pursuit of the Whole: A Romance...,22,https://www.goodreads.com/book/show/1000025.Th...,https://images.gr-assets.com/books/1326963199m...,the desire and pursuit of the whole a romance ...
4,1000059,1,0.0,"Green Arrow, Vol. 2: Sounds of Violence",1704,https://www.goodreads.com/book/show/1000059.Gr...,https://s.gr-assets.com/assets/nophoto/book/11...,green arrow vol 2 sounds of violence

## ranking our book recommendations

In [746]:
#que recomendaciones son las m√°s relevantes para nosotros


#un count normalizado para saber  cuantas veces el libro aparece entre la gente y las votaciones. Por eso se divide
#queremos lbros que sean muy votados por usuarios como nosotros PERO no en usuarios diferentes 


book_recs["adjusted_count"] = book_recs["count"] * (book_recs["count"] / book_recs["ratings"])

In [747]:
book_recs["score"] = book_recs["mean"] * book_recs["adjusted_count"]

In [748]:
#isin porque tiene que coincidir con lo que hayamos le√≠do

book_recs = book_recs[~book_recs["book_id"].isin(my_books["book_id"])]

In [749]:
book_recs.head()  #‚úÖ

,book_id,count,mean,title,ratings,url,cover_image,mod_title,adjusted_count,score
0,1,2,4.0,Harry Potter and the Half-Blood Prince (Harry ...,1713866,https://www.goodreads.com/book/show/1.Harry_Po...,https://images.gr-assets.com/books/1361039191m...,harry potter and the halfblood prince harry po...,0.000002,0.000009
1,10000,1,0.0,The Face of Another,2079,https://www.goodreads.com/book/show/10000.The_...,https://images.gr-assets.com/books/1320415026m...,the face of another,0.000481,0.000000
2,10000191,1,0.0,Yellow Crocus,17787,https://www.goodreads.com/book/show/10000191-y...,https://s.gr-assets.com/assets/nophoto/book/11...,yellow crocus,0.000056,0.000000
3,1000025,1,0.0,The Desire and Pursuit of the Whole: A Romance...,22,https://www.goodreads.com/book/show/1000025.Th...,https://images.gr-assets.com/books/1326963199m...,the desire and pursuit of the whole a romance ...,0.045455,0.000000
4,1000059,1,0.0,"Green Arrow, Vol. 2: Sounds of Violence",1704,https://www.goodreads.com/book/show/1000059.Gr...,https://s.gr-assets.com/assets/nophoto/book/11...,green arrow vol 2 sounds of violence,0.000587,0.000000

In [ ]:
#duplicado for some reason comentar abajo

In [530]:
#quitamos libros donde el titulo coincida. PORQUE ids duplicadas. y min

#my_books["mod_title"] = my_books["title"].str.replace("[^a-zA-Z0-9 ]", "", regex=True).str.lower()

In [750]:
#quitar espacios

my_books["mod_title"] = my_books["mod_title"].str.replace("\s+", " ", regex=True)

KeyError: 'mod_title'

In [751]:
my_books.head()#‚úÖ

   Unnamed: 0  user_id   book_id  rating                      title
0           0       -1     22991       5                      Yerma
1           1       -1  16009563       5                   Fun Home
2           2       -1   4443927       5                 Zaratustra
3           3       -1    930693       5  Hundred years of solitude
4           5       -1     54008       5                    Rayuela

In [577]:

#quitar de recom donde el mod title sea los libros que hemos leido ya
#las partes
#donde el t√≠tulo en recomendaciones sea el mismo o isin mod_title = books we liked

In [618]:
   #AQU√ç EMPIEZA A FALLAR! ‚ÄºÔ∏è  El problema es con la variable

In [759]:
book_recs = book_recs[book_recs["count"]>1]   

#aqu√≠ es donde falla. ‚ùå‚ùå
#quitar lo que aparezca 2 o menos. que al menos se lo hayan le√≠do dos veces

In [760]:
book_recs

,book_id,count,mean,title,ratings,url,cover_image,mod_title,adjusted_count,score
0,1,2,4.0,Harry Potter and the Half-Blood Prince (Harry ...,1713866,https://www.goodreads.com/book/show/1.Harry_Po...,https://images.gr-assets.com/books/1361039191m...,harry potter and the halfblood prince harry po...,0.000002,0.000009
1478,1080876,2,4.5,The Gods of the Greeks,397,https://www.goodreads.com/book/show/1080876.Th...,https://s.gr-assets.com/assets/nophoto/book/11...,the gods of the greeks,0.010076,0.045340
1796,11,2,5.0,The Hitchhiker's Guide to the Galaxy (Hitchhik...,940154,https://www.goodreads.com/book/show/11.The_Hit...,https://images.gr-assets.com/books/1327656754m...,the hitchhikers guide to the galaxy hitchhiker...,0.000004,0.000021
2036,11127,2,5.0,The Chronicles of Narnia (Chronicles of Narnia...,382518,https://www.goodreads.com/book/show/11127.The_...,https://images.gr-assets.com/books/1449868701m...,the chronicles of narnia chronicles of narnia 17,0.000010,0.000052
5061,12985,2,5.0,The Tempest,127830,https://www.goodreads.com/book/show/12985.The_...,https://images.gr-assets.com/books/1327793692m...,the tempest,0.000031,0.000156
7458,1423,2,4.5,The Compleat Works of Wllm Shkspr,7279,https://www.goodreads.com/book/show/1423.The_C...,https://s.gr-assets.com/assets/nophoto/book/11...,the compleat works of wllm shkspr,0.000550,0.002473
9564,15881,2,4.5,Harry Potter and the Chamber of Secrets (Harry...,1821802,https://www.goodreads.com/book/show/15881.Harr...,https://images.gr-assets.com/books/1474169725m...,harry potter and the chamber of secrets harry ...,0.000002,0.000010
10610,1617,2,5.0,Night (The Night Trilogy #1),708754,https://www.goodreads.com/book/show/1617.Night,https://images.gr-assets.com/books/1473495285m...,night the night trilogy 1,0.000006,0.000028
14092,18135,2,4.5,Romeo and Juliet,1656919,https://www.goodreads.com/book/show/18135.Rome...,https://images.gr-assets.com/books/1503315424m...,romeo and juliet,0.000002,0.000011
16343,2,2,4.0,Harry Potter and the Order of the Phoenix (Har...,1766895,https://www.goodreads.com/book/show/2.Harry_Po...,https://images.gr-assets.com/books/1507396732m...,harry potter and the order of the phoenix harr...,0.000002,0.000009
18068,2203,2,5.0,John Adams,223171,https://www.goodreads.com/book/show/2203.John_...,https://images.gr-assets.com/books/1478144278m...,john adams,0.000018,0.000090
23119,30119,2,5.0,Where the Sidewalk Ends,1029527,https://www.goodreads.com/book/show/30119.Wher...,https://images.gr-assets.com/books/1168052448m...,where the sidewalk ends,0.000004,0.000019
27446,4473,2,5.0,A Prayer for Owen Meany,229714,https://www.goodreads.com/book/show/4473.A_Pra...,https://images.gr-assets.com/books/1260470010m...,a prayer for owen meany,0.000017,0.000087
28293,48855,2,5.0,The Diary of a Young Girl,2028299,https://www.goodreads.com/book/show/48855.The_...,https://images.gr-assets.com/books/1358276407m...,the diary of a young girl,0.000002,0.000010
30335,5907,2,4.5,The Hobbit,2099680,https://www.goodreads.com/book/show/5907.The_H...,https://images.gr-assets.com/books/1372847500m...,the hobbit,0.000002,0.000009
30660,6,2,4.5,Harry Potter and the Goblet of Fire (Harry Pot...,1792561,https://www.goodreads.com/book/show/6.Harry_Po...,https://images.gr-assets.com/books/1361482611m...,harry potter and the goblet of fire harry pott...,0.000002,0.000010
31167,6149,2,4.5,Beloved,238038,https://www.goodreads.com/book/show/6149.Beloved,https://s.gr-assets.com/assets/nophoto/book/11...,beloved,0.000017,0.000076
38460,8852,2,4.5,Macbeth,502298,https://www.goodreads.com/book/show/8852.Macbeth,https://images.gr-assets.com/books/1459795224m...,macbeth,0.000008,0.000036

In [761]:
book_recs = book_recs[book_recs["mean"] >=4]   #ncuentra dodnde la media sea  recs mayores que 4

In [762]:
book_recs.head()

,book_id,count,mean,title,ratings,url,cover_image,mod_title,adjusted_count,score
0,1,2,4.0,Harry Potter and the Half-Blood Prince (Harry ...,1713866,https://www.goodreads.com/book/show/1.Harry_Po...,https://images.gr-assets.com/books/1361039191m...,harry potter and the halfblood prince harry po...,0.000002,0.000009
1478,1080876,2,4.5,The Gods of the Greeks,397,https://www.goodreads.com/book/show/1080876.Th...,https://s.gr-assets.com/assets/nophoto/book/11...,the gods of the greeks,0.010076,0.045340
1796,11,2,5.0,The Hitchhiker's Guide to the Galaxy (Hitchhik...,940154,https://www.goodreads.com/book/show/11.The_Hit...,https://images.gr-assets.com/books/1327656754m...,the hitchhikers guide to the galaxy hitchhiker...,0.000004,0.000021
2036,11127,2,5.0,The Chronicles of Narnia (Chronicles of Narnia...,382518,https://www.goodreads.com/book/show/11127.The_...,https://images.gr-assets.com/books/1449868701m...,the chronicles of narnia chronicles of narnia 17,0.000010,0.000052
5061,12985,2,5.0,The Tempest,127830,https://www.goodreads.com/book/show/12985.The_...,https://images.gr-assets.com/books/1327793692m...,the tempest,0.000031,0.000156

In [763]:
top_recs = book_recs.sort_values("mean", ascending=False)

In [764]:
top_recs.head()  #muchas condiciones y sale vac√≠o porque solo hay 3 usuarios.

#Hay que cambiar el df con los libros favs

,book_id,count,mean,title,ratings,url,cover_image,mod_title,adjusted_count,score
1796,11,2,5.0,The Hitchhiker's Guide to the Galaxy (Hitchhik...,940154,https://www.goodreads.com/book/show/11.The_Hit...,https://images.gr-assets.com/books/1327656754m...,the hitchhikers guide to the galaxy hitchhiker...,0.000004,0.000021
2036,11127,2,5.0,The Chronicles of Narnia (Chronicles of Narnia...,382518,https://www.goodreads.com/book/show/11127.The_...,https://images.gr-assets.com/books/1449868701m...,the chronicles of narnia chronicles of narnia 17,0.000010,0.000052
5061,12985,2,5.0,The Tempest,127830,https://www.goodreads.com/book/show/12985.The_...,https://images.gr-assets.com/books/1327793692m...,the tempest,0.000031,0.000156
10610,1617,2,5.0,Night (The Night Trilogy #1),708754,https://www.goodreads.com/book/show/1617.Night,https://images.gr-assets.com/books/1473495285m...,night the night trilogy 1,0.000006,0.000028
18068,2203,2,5.0,John Adams,223171,https://www.goodreads.com/book/show/2203.John_...,https://images.gr-assets.com/books/1478144278m...,john adams,0.000018,0.000090

In [765]:
#Esto es lo mismo que hemos hecho en el engine anterior para poner bonito el resultado


def make_clickable(val):
    return '<a target="_blank" href="{}">Goodreads</a>'.format(val, val)

def show_image(val):
    return '<a href="{}"><img src="{}" width=50></img></a>'.format(val, val)

top_recs.style.format({'url': make_clickable, 'cover_image': show_image})