# ü§ì recomendations

### Encontrar recomendaciones en funci√≥n de usuarios similares a nosotros ‚úåüèº

In [119]:
#esta lista viene de search


liked_books = ['883438','88077','16097870','2391','54008','17899021']
#liked_books = ["4408", "31147619", "29983711", "9401317", "9317691", "8153988", "20494944"]

In [92]:
#buscamos todos los usuarios a los que les ha gustado los libros

In [93]:
!head book_id_map.csv    #abrimos en streaming

book_id_csv,book_id
0,34684622
1,34536488
2,34017076
3,71730
4,30422361
5,33503613
6,33517540
7,34467031
8,6383669

In [127]:
    
csv_book_mapping = {}   #esta es la misma forma de hacerlon que antes en search

with open("book_id_map.csv", "r") as f:
    while True:
        line = f.readline()
        if not line:
            break
        csv_id, book_id = line.strip().split(",")  #va a hacer el split en la coma
        csv_book_mapping[csv_id] = book_id    #este dictionario las keys ser√°n csv_id y los valores seran los valores se

In [128]:
csv_book_mapping['0']

'34684622'

In [129]:
len(csv_book_mapping)   #trocotro

2360651

In [96]:
!wc -l goodreads_interactions.csv     #tama√±o

 228648343 goodreads_interactions.csv

In [97]:
 !ls -lh | grep goodreads_interactions   #peso

-rw-r--r--@ 1 lucia  staff   4,0G 27 jul 21:17 goodreads_interactions.csv

In [98]:
#Se podr√≠a leer as√≠ pero PESA MUCHO

In [99]:
!head goodreads_interactions.csv  #Es el archivo que dice C√≥mo ha votado cada usuario
#cada usuario con cada voto para 1 libro tiene una fila

#si la puntuaci√≥n es alta aqu√≠ significa que  coincide con nosotrxs

#Si vamos l√≠nea a l√≠nea lo que vemos es que chequeamos el libro y vemos si est√° en nuesta lista de libros y si est√°:
#significa que tal vez tenga un gusto parecido al nuestro y les a√±adimis a nuestro set gustos parecidos

user_id,book_id,is_read,rating,is_reviewed
0,948,1,5,0
0,947,1,5,1
0,946,1,5,0
0,945,1,5,0
0,944,1,5,0
0,943,1,5,0
0,942,1,5,0
0,941,1,5,0
0,940,1,5,0

In [131]:
'''

overlap_users = set()
with open('goodreads_interactions.csv', 'r') as f:
    while True: 
        line = f.readline()
        if not line:
            break
        user_id, csv_id, _, rating, _ = line.split(",")   # el underscore significa que no importan los campos
        
        if user_id in overlap_users:   #si se solapan no necesita seguir procesando 
            continue
            
        try:   #parsear nuesto rating, como int
            rating = int(rating)
        except ValueError:
            print('cuidaito, no encontrado')
            continue 
            
#convertir el csv id en un book_id porque el book ib es lo que hemos usado para los libros que nos han gustado
            
            book_id = csv_book_mapping[csv_id]   
            
            if book_id in liked_books and rating >=4: #si el libro mayor que 4, le gusta y lo a√±ade a overlap
                overlap_users.add(user_id)
                
#el problema est√° aqu√≠
'''

cuidaito, no encontrado

In [132]:
#redone

overlap_users = set()

with open("goodreads_interactions.csv", 'r') as f:
    while True:
        line = f.readline()
        if not line:
            break
        user_id, csv_id, _, rating, _ = line.split(",")
        
        if user_id in overlap_users:
            continue

        try:
            rating = int(rating)
        except ValueError:
            print('cuidaito, no encontrado')
            continue
        
        book_id = csv_book_mapping[csv_id]
        
        if book_id in liked_books and rating >= 4:
                overlap_users.add(user_id)

### Ver qu√© libros les han gustado a esos usuarios que se parecen a nosotros

In [101]:
#Se van a crear dos loops porque si no se hace as√≠ se pueden perder valores

In [102]:
#encontrar qu√© libros han le√≠do
# Vamos iterar por el dataset de goodreads, as√≠ que se puede copiar y pegar de la funci√≥n anterior


rec_lines = []  #libros que usuarios parecidos a nosotoros han le√≠do


with open('goodreads_interactions.csv', 'r') as f:
    while True: 
        line = f.readline()
        if not line:
            break    #copiado de arriba√ß
        user_id, csv_id, _, rating, _ = line.split(",")
        
        if user_id in overlap_users:
            book_id = csv_book_mapping[csv_id]     #parseamos
            rec_lines.append([user_id, book_id, rating])  #lo a√±adimos las los libros libros que usuarios parecidos a nosotros han le√≠do tambi√©n = rec_lines

In [103]:
#rank the recommenadtions

In [133]:
len(overlap_users)  #vac√≠o pq?

2130

In [134]:
len(rec_lines)

1481120

In [106]:
import pandas as pd

In [135]:
#cuidado, est√° vac√≠o!!!!

recs = pd.DataFrame(rec_lines, columns=['user_id', 'book_id', 'rating'])  #es m√°s f√°cil trabajar con un df
recs['book_id'] =recs['book_id'].astype(str)    #Esto va a hacer nuestro rec_lines en un df

In [138]:
recs.head()

  user_id  book_id rating
0      77  1199161      3
1      77    18749      4
2      77   101094      5
3      77    16902      3
4      77  7575487      0

In [155]:
top_recs = recs['book_id'].value_counts()      #de qu√© valor hay m√°s, m√°s frecuentres
top_recs.head()

88077    1694
4671     1364
5470     1361
5107     1273
7613     1207
Name: book_id, dtype: int64

In [178]:
top_recs = top_recs.index.values   #a√±adido despu√©s de empezar a const el rec inicial. Da los valores del √≠ndice

AttributeError: 'numpy.ndarray' object has no attribute 'index'

In [179]:
books_titles = pd.read_json("boks_titles.json")
books_titles["book_id"] = books_titles["book_id"].astype(str)   #todo tiene el mismo tipo

In [181]:
len(overlap_users)

2130

In [175]:
books_titles.head()   #yess

,book_id,title,ratings,url,cover_image,mod_title
0,1333909,Good Harbor,10,https://www.goodreads.com/book/show/1333909.Go...,https://s.gr-assets.com/assets/nophoto/book/11...,good harbor
1,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",140,https://www.goodreads.com/book/show/7327624-th...,https://images.gr-assets.com/books/1304100136m...,the unschooled wizard sun wolf and starhawk 12
2,6066819,Best Friends Forever,51184,https://www.goodreads.com/book/show/6066819-be...,https://s.gr-assets.com/assets/nophoto/book/11...,best friends forever
3,287140,Runic Astrology: Starcraft and Timekeeping in ...,15,https://www.goodreads.com/book/show/287140.Run...,https://images.gr-assets.com/books/1413219371m...,runic astrology starcraft and timekeeping in t...
4,287141,The Aeneid for Boys and Girls,46,https://www.goodreads.com/book/show/287141.The...,https://s.gr-assets.com/assets/nophoto/book/11...,the aeneid for boys and girls

## Construir un rec inicial

In [174]:
#encuentra todos los t√≠tulos que est√©n en las recomedaciones top

books_titles[books_titles["book_id"].isin(top_recs)]   #cuidado, VAC√çO

,book_id,title,ratings,url,cover_image,mod_title
2,6066819,Best Friends Forever,51184,https://www.goodreads.com/book/show/6066819-be...,https://s.gr-assets.com/assets/nophoto/book/11...,best friends forever
7,287149,The Devil's Notebook,986,https://www.goodreads.com/book/show/287149.The...,https://images.gr-assets.com/books/1328768789m...,the devils notebook
8,6066814,"Crowner Royal (Crowner John Mystery, #13)",186,https://www.goodreads.com/book/show/6066814-cr...,https://images.gr-assets.com/books/1328724803m...,crowner royal crowner john mystery 13
13,89375,90 Minutes in Heaven: A True Story of Death an...,68157,https://www.goodreads.com/book/show/89375.90_M...,https://s.gr-assets.com/assets/nophoto/book/11...,90 minutes in heaven a true story of death and...
14,89376,Heaven,7345,https://www.goodreads.com/book/show/89376.Heaven,https://images.gr-assets.com/books/1406508230m...,heaven
...,...,...,...,...,...,...
1782548,7195902,The Short Happy Life of Francis Macomber,290,https://www.goodreads.com/book/show/7195902-th...,https://images.gr-assets.com/books/1329637203m...,the short happy life of francis macomber
1782550,2527820,"Gosick: The Novel (Gosick, #1)",557,https://www.goodreads.com/book/show/2527820.Go...,https://images.gr-assets.com/books/1346856168m...,gosick the novel gosick 1
1782560,26591045,The Sensible Necktie and Other Stories of Sher...,16,https://www.goodreads.com/book/show/26591045-t...,https://images.gr-assets.com/books/1444637176m...,the sensible necktie and other stories of sher...
1782561,25727303,Mrs. Hudson in New York,6,https://www.goodreads.com/book/show/25727303-m...,https://images.gr-assets.com/books/1434310664m...,mrs hudson in new york
1782575,26168430,Sherlock Holmes and the July Crisis,6,https://www.goodreads.com/book/show/26168430-s...,https://images.gr-assets.com/books/1440592011m...,sherlock holmes and the july crisis

In [161]:


all_recs = recs["book_id"].value_counts()
all_recs.head()

88077    1694
4671     1364
5470     1361
5107     1273
7613     1207
Name: book_id, dtype: int64

In [162]:
all_recs = all_recs.to_frame().reset_index()   
all_recs.columns = ["book_id", "book_count"]   #renombrar porque book id estaba mal

In [163]:
all_recs.head(5)

  book_id  book_count
0   88077        1694
1    4671        1364
2    5470        1361
3    5107        1273
4    7613        1207

In [173]:
all_recs = all_recs.merge(books_titles, how="inner", on="book_id")   #el inner merge significa que si los datos no existen en los dos, que se borren

In [172]:
all_recs["score"] = all_recs["book_count"] * (all_recs["book_count"] / all_recs["ratings"])

In [166]:
all_recs.sort_values("score", ascending=False).head(10)

,book_id,book_count,title,ratings,url,cover_image,mod_title,score
0,88077,1694,The Magic Mountain,21536,https://www.goodreads.com/book/show/88077.The_...,https://images.gr-assets.com/books/1403170928m...,the magic mountain,133.248328
213,527756,345,The Man Without Qualities,3738,https://www.goodreads.com/book/show/527756.The...,https://images.gr-assets.com/books/1327330533m...,the man without qualities,31.841894
391,883438,240,East of Eden,2336,https://www.goodreads.com/book/show/883438.Eas...,https://images.gr-assets.com/books/1503315060m...,east of eden,24.657534
804,238367,145,The Sleepwalkers,890,https://www.goodreads.com/book/show/238367.The...,https://s.gr-assets.com/assets/nophoto/book/11...,the sleepwalkers,23.623596
172,34440,386,Doctor Faustus,6621,https://www.goodreads.com/book/show/34440.Doct...,https://images.gr-assets.com/books/1403189005m...,doctor faustus,22.503549
994,54008,123,Rayuela,806,https://www.goodreads.com/book/show/54008.Rayuela,https://images.gr-assets.com/books/1329416331m...,rayuela,18.770471
105,80890,482,Buddenbrooks: The Decline of a Family,12428,https://www.goodreads.com/book/show/80890.Budd...,https://images.gr-assets.com/books/1337128414m...,buddenbrooks the decline of a family,18.693595
1347,27426,98,The Death of Virgil,658,https://www.goodreads.com/book/show/27426.The_...,https://s.gr-assets.com/assets/nophoto/book/11...,the death of virgil,14.595745
1022,88076,120,Joseph and His Brothers,1111,https://www.goodreads.com/book/show/88076.Jose...,https://images.gr-assets.com/books/1320550455m...,joseph and his brothers,12.961296
8994,9624993,21,"The Mirror and the Light (Thomas Cromwell, #3)",40,https://www.goodreads.com/book/show/9624993-th...,https://s.gr-assets.com/assets/nophoto/book/11...,the mirror and the light thomas cromwell 3,11.025000

In [168]:
all_recs[all_recs["book_count"] > 200].sort_values("score", ascending=False).head(10)

,book_id,book_count,title,ratings,url,cover_image,mod_title,score
0,88077,1694,The Magic Mountain,21536,https://www.goodreads.com/book/show/88077.The_...,https://images.gr-assets.com/books/1403170928m...,the magic mountain,133.248328
213,527756,345,The Man Without Qualities,3738,https://www.goodreads.com/book/show/527756.The...,https://images.gr-assets.com/books/1327330533m...,the man without qualities,31.841894
391,883438,240,East of Eden,2336,https://www.goodreads.com/book/show/883438.Eas...,https://images.gr-assets.com/books/1503315060m...,east of eden,24.657534
172,34440,386,Doctor Faustus,6621,https://www.goodreads.com/book/show/34440.Doct...,https://images.gr-assets.com/books/1403189005m...,doctor faustus,22.503549
105,80890,482,Buddenbrooks: The Decline of a Family,12428,https://www.goodreads.com/book/show/80890.Budd...,https://images.gr-assets.com/books/1337128414m...,buddenbrooks the decline of a family,18.693595
374,18796,247,In Search of Lost Time (√Ä la recherche du tem...,6670,https://www.goodreads.com/book/show/18796.In_S...,https://images.gr-assets.com/books/1352231701m...,in search of lost time la recherche du temps...,9.146777
112,12749,470,"Swann's Way (In Search of Lost Time, #1)",25329,https://www.goodreads.com/book/show/12749.Swan...,https://images.gr-assets.com/books/1452956236m...,swanns way in search of lost time 1,8.721229
258,53064,313,Death in Venice and Other Tales,12215,https://www.goodreads.com/book/show/53064.Deat...,https://images.gr-assets.com/books/1309376701m...,death in venice and other tales,8.020385
182,53061,375,Death in Venice,17958,https://www.goodreads.com/book/show/53061.Deat...,https://images.gr-assets.com/books/1410132000m...,death in venice,7.830772
144,35743,414,The Tin Drum,25915,https://www.goodreads.com/book/show/35743.The_...,https://images.gr-assets.com/books/1327945103m...,the tin drum,6.613776

In [169]:
popular_recs = all_recs[all_recs["book_count"] > 200].sort_values("score", ascending=False)  #esto ordena top 10

In [182]:
#esta funci√≥n hace clockable y eso. usadas antes tamb√≠en
#Y s√≠, las recomendaciones corresponden üôÉ

def make_clickable(val):
    return '<a target="_blank" href="{}">Goodreads</a>'.format(val, val)

def show_image(val):
    return '<a href="{}"><img src="{}" width=50></img></a>'.format(val, val)

#Usar  las formulas para que se muestre en plan bonito
#filtra donde el boook id est√©, para que no muestre libros que ya hemos le√≠do y le damos formato

popular_recs[~popular_recs["book_id"].isin(liked_books)].head(10).style.format({'url': make_clickable, 'cover_image': show_image})

In [ ]:
# pr√≥ximos pasos
#Se puede hacer filtro colaborativo